<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@//localhost:1521/XE"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
    </bean>

    <bean id="accountDAO" class="dao.AccountDAOImpl" autowire="byName"></bean>
    <bean id="articleDAO" class="dao.ArticleDAOImpl" autowire="byName"></bean>
    <bean id="authorDAO" class="dao.AuthorDAOImpl" autowire="byName"></bean>
    <bean id="commentDAO" class="dao.CommentDAOImpl" autowire="byName"></bean>
    <bean id="tagDAO" class="dao.TagDAOImpl" autowire="byName"></bean>
    <bean id="articleTagDAO" class="dao.ArticleTagDAOImpl" autowire="byName"></bean>

    <bean id="tagService" class="service.TagServiceImpl" autowire="byName"></bean>
    <bean id="articleService" class="service.ArticleServiceImpl" autowire="byName"></bean>

    <bean id="tag1Example" class="entity.Tag">
        <property name="id" value="1"/>
        <property name="name" value="economics"/>
    </bean>
    <bean id="tag2Example" class="entity.Tag">
        <property name="id" value="2"/>
        <property name="name" value="business"/>
    </bean>
</beans>