<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@//localhost:1521/XE"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
    </bean>

    <bean id="accountDAOImpl" class="dao.AccountDAOImpl" autowire="byName"></bean>
    <bean id="articleDAOImpl" class="dao.ArticleDAOImpl" autowire="byName"></bean>
    <bean id="authorDAOImpl" class="dao.AuthorDAOImpl" autowire="byName"></bean>
    <bean id="commentDAOImpl" class="dao.CommentDAOImpl" autowire="byName"></bean>
    <bean id="tagDAOImpl" class="dao.TagDAOImpl" autowire="byName"></bean>
    
    <bean id="article" class="entity.Article">
        <property name="mainTitle" value="FIRST TITLE"/>
        <property name="shortTitle" value="FIRST SHORT TITLE"/>
        <property name="content" value="CONTENT"/>
        <property name="publishDate" value="2016-03-27 00:00:00"/>
        <property name="mainPhoto" value="PHOTO_PATH"/>
    </bean>
</beans>